// color scheme for light theme
$light-brightblue: #0079FF;
$light-bluegrey: #697C9A;
$light-blueish: #4B6A9B;
$light-blackish: #2B3442;
$light-greyish: #F6F8FF;
$light-whiteish: #FEFEFE;

//  color scheme for dark theme
$dark-brightblue: #0079FF;
$dark-white: #FFFFFF;
$dark-blackish: #141D2F;
$dark-greyish: #1E2A47;

// error
$error-red: #F74646;
