// color scheme for light theme
$light-bluegrey: #697c9a;
$light-blueish: #4b6a9b;
$light-blackish: #2b3442;
$light-greyish: #f6f8ff;
$light-whiteish: #fefefe;

//  color scheme for dark theme
$dark-white: #ffffff;
$dark-blackish: #141d2f;
$dark-greyish: #1e2a47;

// error
$error-red: #f74646;

// button and GH handle
$bright-blue: #0079ff;
