/*
 * Sets project defaults, globals, media query breakpoints, and app layout
 */

// reset browser defaults
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // only font in project
  font-family: "Space Mono", monospace;
}

// TODO: add in breakpoints later
@mixin desktop-breakpoint {
  @media only screen and (min-width: 900px) {
    @content;
  }
}

html {
  // to get expected results in using 'rem'
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center;

  @include desktop-breakpoint {
    // center veritcally
    align-items: center;
    min-height: 100vh;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
