// link in global color file
// @import './colors';

// reset browser defaults
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// only one device breakpoint needed; mobile-first
@mixin desktop-breakpoint {
  @media only screen and (min-width: 900px) {
    @content;
  }
}

html {
  // to get expected results in using 'rem'
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center;

  // only font in project
  font-family: "Space Mono", monospace;

  @include desktop-breakpoint {
    // center veritcally
    align-items: center;
    min-height: 100vh;
  }
}
