/*
 * CSS class and variables for light and dark themes
 * I'm using this article as a base for implementing theme switching:
 * https://lukelowrey.com/css-variable-theme-switcher/
 */

// colors as defined in design system
@import "colors.scss";

// NOTE: must wrap sass variables for CSS var to parse; see ->
// https://sass-lang.com/documentation/breaking-changes/css-vars
:root,
html[data-theme="light"] {
  --primary-bg: #{$light-greyish};
  --secondary-bg: #{$light-whiteish};
  --button-theme: #{$light-bluegrey};
  --primary-text: #{$light-blueish};
  --secondary-text: #{$light-blackish};
}

:root,
html[data-theme="dark"] {
  --primary-bg: #{$dark-blackish};
  --secondary-bg: #{$dark-greyish};
  --button-theme: #{$dark-white};
  --primary-text: #{$dark-white};
  --secondary-text: #{$dark-white};
}
